BACKEND_PORT=8000
BACKEND_DEBUG_PORT=5678
BACKEND_ALLOWED_HOSTS=localhost,https://react-drf-boilerplate.netlify.app,192.168.0.100
FRONTEND_PORT=3000
FRONTEND_API_BASE_URL=https://drf-auth-demo.apps.vishvaraj.me